<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperCalistenics</title>
    <style>
        * {
            margin: 0;
            border: 0;
            box-sizing: border-box;
            font-size: 28px;
        }
    </style>
    <link rel="stylesheet" href="/cssgeral.css">

</head>

<body>
    <div class="apresentacao">
        <h1>Super<br>Calistenics</h1>
    </div>

    <div class="menuPrincipal">
        <a href="esporte">Sobre</a>
        <a href="galeria">Galeria</a>
        <a href="nomes">Famosos</a>
        <a href="nossaloja">Nossa Loja</a>
    </div>

    <!-- fim do menu em linha -->
    <div class="conteudo">
        <h2>Sobre o esporte</h2>
        <div class="indice">
            <p style="text-indent:initial; padding-inline-start: 0;">O que você encontra nessa página:</p>
            <ul>
                <li>O que é a calistenia?</li>
                <li>Quais as vantagens desse treino?</li>
                <li>Existe campeonato de calistenia?</li>
            </ul>
        </div>

        <h3><span>O que é a calistenia?</span></h3>
        <p>Calistenia é a musculação executada apenas com o peso do próprio corpo.</p>
        <p>Para que se dêem os estímulos necessários nos músculos para que estes cresçam, coloca-se o corpo em
            posições pouco habituais, ou até acrobáticas, nas quais se requer força. O hábito do corpo em praticar tais
            formas gera o ganho muscular.</p>
        <p>Exemplos de alguns exercícios de calistenia:</p>
        <div class="images">
            <div><img src="/images/exemploExercicio.jpg" alt="Exemplo de Exercício">
                <p>Planche Push Up</p>
            </div>
            <div><img src="/images/exemploExercicio1.jpg" style="height:320px" alt="Exemplo de Exercício">
                <p>L-sit Pull ups</p>
            </div>
        </div>
        <!-- Fotos de abdominais, barras e flexões. Com legenda e bem enquadrado, claro.-->

        <h3><span>Benefícios do treino</span></h3>
        <p>São vários os ganhos. Além dos ganhos de uma prática esportiva regular, como perda de peso, melhor
            disposição, melhor da saúde da pele, melhor sono, entre várias outras.</p>
        <p>A calistenia especificamente tem o benefício de trabalhar o corpo sempre em conjunto, isto é, se fizer uma
            boa progressão calistênica,
            não haverão pontos não treinados no seu corpo. Inclusive alguns músculos dificilmente atingidos pela
            musculação
            de academia, serão trabalhados. O serratus anterior, eretor de espinha, são músculos que
            são trabalhados na calistenia por estabilizarem o corpo, enquanto na academia essa estabilidade é feita
            apoiando o corpo na máquina. </p>

        <div class="images" style="margin-bottom: 30px;"><img src="/images/remadaBaixa.jpg" style="height:320px" alt="Exemplo de Exercício">
            <img src="/images/tuckPlanche.jpg" alt="Exemplo de Exercício" style="height:320px">
        </div>

        <p style="margin-bottom: 130px">Dois exercícios que praticam o mesmo movimento de costas. A remada sentada,
            feita na academia com o
            corpo com quase nenhuma necessidade de estabilização e a tuck
            pull up, onde o praticante obrigatoriamente emprega os músculos da bacia para realizar o exercício.
        </p>

        <!-- Foto dos músculos internos. Comparação de uma remada feita na máquina e uma remada feita na barra. -->

        <h3><span>Existem competições?</span></h3>
        <p>Existem sim.</p>
        <p>Apesar de não dar resultados diretamente mensuráveis, a performance na execução dos movimentos, bem como
            na ginástica olímpica, é avaliada e pontuada. Assim é a competição. Os melhores são aqueles que
            performarem os melhores e mais difícieis movimentos tendo como apoio apenas uma barra.</p>
        <p> Além disso, outro estilo de competição que existe é a de <i>street lifting</i>, onde os competidores
            executam movimentos que normalmente são realizados só com o peso do corpo mas adicionando mais carga.
        <div class="images" style="margin-bottom:0">
            <embed src="https://www.youtube.com/embed/Itjetn4fQFg" style="height:400px; width:750px">
        </div>
        <p style="text-indent:0; text-align: center;">Vídeo demo de um campeonato de calistenia.</p>
    </div>
</body>

</html>