<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperCalistenics</title>
    <style>
        * {
            margin: 0;
            border: 0;
            box-sizing: border-box;
            font-size: 28px;
        }
    </style>
    <link rel="stylesheet" href="/cssgeral.css">

</head>

<body>
    <div class="apresentacao">
        <h1>Super<br>Calistenics</h1>
    </div>

    <div class="menuPrincipal">
        <a href="esporte">Sobre</a>
        <a href="galeria">Galeria</a>
        <a href="nomes">Famosos</a>
        <a href="nossaLoja">Nossa Loja</a>
    </div>

    <!-- fim do menu em linha -->
    <div class="conteudo">

        <h3 style="text-align:center"><span>Galeria</span></h3>
        <div class="galeria">
            <div><img src="/images/galeria2.jpg"></div>
            <div><img src="/images/galeria3.jpg"></div>
            <div><img src="/images/galeria4.jpg"></div>
            <div><img src="/images/galeria5.jpg"></div>
            <div><img src="/images/galeria6.jpg"></div>
            <div><img src="/images/galeria7.jpg"></div>
            <div><img src="/images/galeria8.jpg"></div>
            <div><img src="/images/galeria9.jpg"></div>
        </div>
</body>

</html>