<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperCalistenics</title>
    <style>
        * {
            margin: 0;
            border: 0;
            box-sizing: border-box;
            font-size: 28px;
        }
    </style>
    <link rel="stylesheet" href="/cssgeral.css">

</head>

<body>
    <div class="apresentacao">
        <h1>Super<br>Calistenics</h1>
    </div>

    <div class="menuPrincipal">
        <a href="esporte">Sobre</a>
        <a href="galeria">Galeria</a>
        <a href="nomes">Famosos</a>
        <a href="nossaloja">Nossa Loja</a>
    </div>

    <!-- fim do menu em linha -->
    <div class="conteudo">
        <h2>Nomes Famosos na Calistenia</h2>

        <h3 style="text-align:center;"><span>Hannibal Lanham</span></h3>
        <div class="nome">
            <img src="/images/hannibal1.jpg" alt="Exemplo de Exercício" style="height:320">
            <p>Nascido em 1978 em Jamaica Queens, em Nova York, onde também passou sua infância,
                Hannibal Lanham, também conhecido por "Hannibal
                for
                King" é conhecido por ser um dos primeiros a demonstrar impressionantes habilidades com movimentos
                calistênicos
                online.
                <br><br>
                Ele começou a fazer sucesso em 2008, depois de postar vídeos de si mesmo fazendo movimentos ainda nunca
                vistos na internet.<br><br>

                Desde o início de sua fama na internet, Hannibal tornou-se popular entre os entusiastas da calistenia,
                inspirando pessoas de todos os lados (inclusive do Brasil!) a começar a praticar musculação na rua e
                remodelar seus corpos.
            </p>
        </div>
        <!-- Fotos de abdominais, barras e flexões. Com legenda e bem enquadrado, claro.-->

        <h3 style="text-align:center;"><span>Chris Heria</span></h3>
        <div class="nome">
            <p>
                Chris Heria nasceu em 1991 em Miami, Florida, e de origem imigrante, tendo pai cubano e mãe chinesa,
                Chris iniciaram o treino cedo, tendo participado de competições ainda na adolescência e início da fase
                adulta.<br><br>

                Chris hoje é um profissional de calistenia e influenciador digital na área, tendo ganhado o prêmio
                Fitness and Wellness Influencer Awards Monaco, em 2019.
                <br><br>
                Atualmente trabalha como treinador de competidores profissionais e particulares, além de ter sua própria
                academia, a THENX.<br>
                Fora estes, tem trambém o trabalho com merchan, como camisetas, elásticos de treino e seus famosos
                coletes de peso.<br>
                Chris atualmente tem 3,6 milhões de inscritos em seu canal no Youtube, que começou em 2013 e mais de 1
                milhão e 400 mil seguidores em sua conta no Instagram.
            </p>
            <img src="/images/chrisHeria1.jpg" alt="Exemplo de Exercício" style="height:550px">

        </div>


        <h3 style="text-align:center;"><span>Andrea Larosa</span></h3>

        <div class="nome" style="margin-bottom:0">
            <img src="/images/andreaLarosa.jpg" alt="Exemplo de Exercício" style="height:600px; top:100px;">
            <p>Andrea Larosa é um atleta profssional de calistenia, campeão internacional e treinador natural de Roma,
                nascido em 1995. Entrou no esporte m 2013 como atleta independente, e dedicou-se por conta própria até
                chegar no nível competidor.
                Começou de fato nos torneios em 2015 e desde então não saiu mais do esporte.

                <br><br>
                Em 2017, ele teve a oportunidade de competir no show de televisão "Italia Got Talent", onde os juízes e
                a plateia ficaram impressionados com suas habilidades físicas e carisma <br>
                Desde então, Larosa tem colecionado prêmios internacionais
            </p>
        </div>
    </div>
</body>

</html>