<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperCalistenics</title>
    <style>
        * {
            margin: 0;
            border: 0;
            box-sizing: border-box;
            font-size: 28px;
        }
    </style>
    <link rel="stylesheet" href="/cssloja.css">

</head>

<body>
    <div class="fundo1">
        <div class="apresentacao">
            <h1>Super<br>Calistenics</h1>
            <p>STORE</p>
        </div> <!-- LOGO -->
    </div>

    <div class="barraSuperior">
        <div>
            <span>Buscar:</span>
            <input type="text" placeholder="O que buscas?">
        </div>
        <!-- SPACE BETWEEN -->
        <div>
            <a id="login" href="#">Login</a>
            <div id="valor"></div>
        </div>

    </div>

    <div class="menuPrincipal">
        <ul>
            <li>Roupas Fit</li>
            <li>Acessórios</li>
            <li>Equipamento</li>
            <li>Calçados</li>
        </ul>

        <a id="sair" href="/">Sair da loja</a>
    </div>

    <div class="produtos">
        <div class="produto">
            <img src="/images/loja1.jpg">
            <p>3.99</p>
            <p>Corda Esportiva</p>
            <p>Adicionar ao Carrinho</p>
        </div>

        <div class="produto">
            <img src="/images/loja2.jpg">
            <p>8.99</p>
            <p>Pegas para flexões</p>
            <p>Adicionar ao Carrinho</p>
        </div>

        <div class="produto">
            <img src="/images/loja3.jpeg">
            <p>34.99</p>
            <p>Colete de Pesos</p>
            <p>Adicionar ao Carrinho</p>
        </div>

        <div class="produto">
            <img src="/images/loja4.jpg">
            <p>2.49</p>
            <p>Elástico com Pegada</p>
            <p>Adicionar ao Carrinho</p>
        </div>

        <div class="produto">
            <img src="/images/loja5.jpg">
            <p>2.49</p>
            <p>Barra de Batente</p>
            <p>Adicionar ao Carrinho</p>
        </div>

        <div class="produto">
            <img src="/images/loja6.jpg">
            <p>2.49</p>
            <p>Luvas Esportivas</p>
            <p>Adicionar ao Carrinho</p>
        </div>

        <div class="produto">
            <img src="/images/loja7.jpg">
            <p>2.49</p>
            <p>Tensor Regulável</p>
            <p>Adicionar ao Carrinho</p>
        </div>

        <div class="produto">
            <img src="/images/loja8.jpg">
            <p>2.49</p>
            <p>Cotoveleira Regulável</p>
            <p>Adicionar ao Carrinho</p>
        </div>

        <div class="produto">
            <img src="/images/loja9.jpg">
            <p>2.49</p>
            <p>Balança Corporal</p>
            <p>Adicionar ao Carrinho</p>
        </div>
    </div>

    <div class="bolinhaPonto">
        <label for="inputJanela" class="abrirJanela">
            <div class="bolinhaBorda">
        </label>
    </div>
    </div>

    <input type="checkbox" id="inputJanela" style="position:fixed; bottom: -13px;">
    <div class="sobreProjeto">
        <div>
            <p id="consideracoes">
                Mais um projeto concluído.<br><br>
                No desenvolvimento desta aplicação comecei a trabalhar com Node, npm express, interação de módulos,
                etc. <br>Trabalhei também com html/css, aprendendo algo novo a cada nova função que se quer dar à
                página: media queries, animação, pseudo-elementos/classes, entre outros. <br><br>
                Preferi não fazer uma app com mais páginas porque só seria mais do mesmo e meu
                objetivo é pôr em prática novas utilidades, como operações que interagem com banco de dados ou
                trabalhar com API.<br><br>

                <u style="font-size:inherit">Até breve.</u>
            </p>

            <label for="inputJanela" style="color:red;">x</label>
        </div>
    </div>


</body>

</html>